.main{
    margin-top: 40px;
    display:"flex";
    align-items:"center"; 
    min-height:"80vh"
}

.button{
      height:"48px"; 
      width: '154px'     
}

.joinMeetingInput{
    height:"148px"; 
    width: '250px'
}